.root {
  --app-root-header-height: 52px;

  height: 100vh;
  overflow: hidden;
}

.sider {
  height: 100vh;
  overflow: auto;
  background: var(--app-color-bg-container);
  border-inline-end: 1px solid var(--app-color-border-secondary);
}

.brand {
  display: flex;
  align-items: center;
  height: var(--app-root-header-height);
  padding: 0 20px;

  &Text {
    display: flex;
    align-items: flex-end;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: 650;
    line-height: 1.2;
    color: var(--app-color-text);
    white-space: nowrap;
  }
}

.mainLayout {
  min-width: 0;
  height: 100vh;
}

.menu {
  margin: 4px 0;
  background: var(--app-color-bg-container);
  border: none !important;
}

.header {
  display: flex;
  flex: 0 0 var(--app-root-header-height);
  align-items: center;
  height: var(--app-root-header-height);
  padding: 0 12px 0 24px;
  border-bottom: 1px solid;
}

.content {
  display: grid;
  gap: 24px;
  align-content: start;
  height: calc(100vh - var(--app-root-header-height));
  min-height: 0;
  padding: 32px;
  overflow: auto;
}
