.settingsList {
  display: grid;
  gap: 24px;
}

.themePicker {
  width: max-content;
}

.languageSelect {
  width: 180px;
}

.recordingAudioSelect {
  width: 240px;
}

.overlaySelect {
  width: 240px;
}

.debugLoggingGroup {
  display: grid;
  gap: 12px;
}
