.page {
  --details-width: 420px;

  position: absolute;
  inset: 0;
  padding: 32px 0 32px 32px;
  overflow-y: auto;

  @media (width <= 1280px) {
    --details-width: 300px;
  }

  &.withDetails {
    right: var(--details-width);
  }
}

.historyCard {
  min-width: 0;
  margin-right: calc(24px + var(--details-width));

  .withDetails & {
    margin-right: 24px;
  }
}

.toolbar {
  display: flex;
  margin-bottom: 16px;
}

.monthPicker {
  width: 120px;
}

.detailsSlot {
  position: fixed;
  top: var(--app-root-header-height);
  right: 0;
  bottom: 0;
  width: var(--details-width);
  min-height: 0;
}
