.settingsList {
  display: grid;
  gap: 24px;
}

.versionRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.version {
  font-weight: 500;
}

.updateRow {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noUpdate {
  font-size: 13px;
  color: var(--app-color-text-tertiary);
}

.installingBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
